@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Happy+Monkey&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #f7b8c1;
	color: #b0d6f0;
	padding: 20px;
	border:4px solid#f79baa;
	border-radius: 10px;

}


header img {
	padding: 1em;
	position: relative;
	left:1em;
	width: 200px;
}


.container {
	max-width: 70em;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;


}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	color: #272320;
	font-size: clamp(1em, 1em + 0.5vw, 3em);
	font-family: 'Happy Monkey', cursive;}

nav ul li a:hover {
	text-decoration: underline;
}

#carrinho {
	color: #f8f8f8;
	font-family: 'Pompiere', cursive;
	padding: 0.7em 1.7em;
	font-size: 18px;
	border-radius: 0.5em;
	background: #FF6B7A;
	transition: all .3s;
	font-family: 'Concert One', cursive;
	box-shadow: 6px 6px 12px #C9959D,
				-6px -6px 12px #F5D8D8;
}

#carrinho a {
	text-decoration: none;
	color: #f8f8f8;
}

#carrinho:hover {
	background-color: #FF6B7A;

}

#carrinho:active {
	box-shadow: inset 4px 4px 12px #f7b8c1,
				inset -4px -4px 12px #f7b8c1;
   }


.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
	padding: 2em 0;

  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease;
	
  }
  
  .carousel-item {
    flex: 0 0 19%; /* display 3 items at a time */
    padding: 10px;
    text-align: center;
	background-color: #b0d6f0;
	margin: 4px;
	border:3px solid #8bc3f9;
	border-radius: 10px;

  }
  
  .carousel-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .carousel-item h3 {
    font-size: 20px;
    margin-bottom: 5px;
	font-family: 'Pompiere', cursive;  }
  
  .carousel-item p {
    font-size: 18px;
    margin: 0;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: #fdfaf9;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev-button {
    left: 0;
  }
  
  .next-button {
    right: 0;
  }
  
  @media screen and (max-width: 768px) {
    .carousel-container {
      width: calc(100% - 40px);
    }
    
    .carousel-item {
      width: calc(100% / 2);
    }
    
    .carousel-item:last-child {
      margin-right: 20px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .carousel-container {
      width: 100%;
    }
    
    .carousel-item {
      width: 100%;
      margin-right: 0;
    }
  }

#daily-deals {
	background-color: #f8f8f8;
	padding: em 0;
}

.Promoções {
	background-color: #f7e18e;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	padding: 20px;
	text-align: center;
	margin: 20px;
}
 
.Promoções img{
	width: 100%;
	height: 0%;
}

.Promoções h4 {
	color: #ff8c00;
	font-size: 24px;
	margin-bottom: 10px;
}

.Promoções p {
	font-size: 18px;
	margin-bottom: 10px;
}

.Promoções button {
	background-color: #ff8c00;
	color: #f7e18e;
	padding: 10px 20px;
	cursor: pointer;
}

.Promoções button:hover {
	background-color: #ffa500;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px 0;
}

form input[type="email"] {
	padding: 10px;
	border-radius: 5px 0 0 5px;
	border: none;
	flex-grow: 1;
}

form button[type="submit"] {
	background-color: #ff8c00;
	color: #fdfaf9;
	border: none;
	padding: 10px 20px;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

form button[type="submit"]:hover {
	background-color: #ffa500;
}

footer {
	background-color: #333;
	color: #fdfaf9;
	padding: 50px 0;
}

footer .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer h3 {
	margin-bottom: 20px;
}

#map {
	flex-basis: 100%;
	height: 300px;
	margin-top: 20px;
}